{% extends "post/base.html" %}

{% load static %}

{% block content%}

{% for post in posts %}
<div class="post">
    <div class="author-profile">
        <img class="rounded-circle fix-image" src="{{ post.author.profile.image.url }}">
        <h3>@{{ post.author }}</h3>
       
    </div>

    <img class = "post-image" src="{{ post.image.url }}" alt="" />

    <div class="icons">
        <i class = "fa fa-2x fa-heart-o"></i>
        <i class="fa fa-2x fa-comment-o" aria-hidden="true"></i>
    </div>
    <p class="likes-count">1 likes</p>

    <div class="comments">
        <p class = "comment-context"> <span>{{ post.author }}</span> {{ post.caption }}</p>
        <p class = "comment-context"> <span>{{ post.author }}</span> {{ post.caption }}</p>
        <p class = "comment-context"> <span>{{ post.author }}</span> {{ post.caption }}</p>
        <p class = "comment-context"> <span>{{ post.author }}</span> {{ post.caption }}</p>
        <p class = "comment-context"> <span>{{ post.author }}</span> {{ post.caption }}</p>
        <p class = "comment-context"> <span>{{ post.author }}</span> {{ post.caption }}</p>
        <p class = "comment-context"> <span>{{ post.author }}</span> {{ post.caption }}</p>
    </div>
</div>
{% endfor %}
{% endblock content %}
