body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.center{
  width: 50%;
  height: auto;
  margin: auto;
  padding-top: 20px;
}

.center-login{
  width: 30%;
  margin: auto;
}

.message{
  width: 40%;
  height: auto;
  margin-bottom: 10px;
  margin: auto
}

.post {
  width: 40%;
  height: auto;
  margin: auto;
  border: 0.5px solid lightgray;
  margin-bottom: 20px;

}

.author-profile {
  width: 100%;
  height: 8vh;
  border-bottom: 0.5px solid lightgray;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  justify-content: center;
  align-items: center;
}

.fix-image{
  height: 40px;
  width: 40px;
  justify-self: flex-end;
}

.author-profile h3{
  font-size: 20px;
  margin-left: 15px;
  padding-top: 5px;
}

.post-image {
  padding: 0;
  display: block;
  margin: 0 auto auto 0;
  height: 60%;
  width: 100%;
  border-bottom: 0.5px solid lightgray;
}

.icons{
  height: 6vh;
}

.icons > i{
  padding-top: 8px;
  padding-left: 10px
}

.icons > i:hover{
  padding-top: 8px;
  padding-left: 10px;
  color: red;
}

.likes-count{
  padding-left:10px;
  font-size: 16px;
  font-weight: bolder;
}

.comments{
  height: 15vh;
  overflow: scroll;
}

.comment-context{
  font-size: 16px;
}

.comment-context > span{
  padding-left: 10px;
  font-weight: bolder;
}

@media screen and (min-width:100px) and (max-width:768px) {
  .post {
    width: 100%;
  }

  .message{
    width: 100%;
  }
  
}

@media screen and (min-width:768px) and (max-width:1025px) {
  .post {
    width: 60%;
  }

  .message{
    width: 60%;
  }
  
}

/* profile page */

.profile-view{
  width: 50%;
  margin: auto;
  border-bottom: 1px solid lightgray;
}

.account-img {
  height: 180px;
  width: 180px;
  margin-right: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.account-heading {
  font-size: 2rem;
}

.profile-content{
  display: inline-block;
  margin-left: 20px;
}

.button{
  margin: 10px 0 15px 25%;
}

.center-form{
  display: none;
  width: 50%;
  margin: auto;
}

.form-group{
  margin: 10px 0 5px 0;
  
}

@media screen and (min-width:100px) and (max-width:768px) {
  .profile-view{
    width: 80%;
  }

  .account-img {
    height: 100px;
    width: 100px;
  }

  .account-heading {
    font-size: 1.2rem;
    display: inline-block;
  }
  
  .profile-content{
    margin-left: 10px;
  }
  
  .button{
    margin: 10px 0 15px 10%;
  }
  
  .center-form {
    width: 80%;
  }

}
