@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.center{
  width: 50%;
  height: auto;
  margin: auto;
  padding-top: 20px;
}

.center-login{
  width: 30%;
  margin: auto;
}

.post {
  width: 40%;
  height: auto;
  margin: auto;
  border: 0.5px solid lightgray;
  margin-bottom: 20px;

}

.author-profile {
  width: 100%;
  height: 8vh;
  border-bottom: 0.5px solid lightgray;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  justify-content: center;
  align-items: center;
}

.fix-image{
  height: 40px;
  width: 40px;
  justify-self: flex-end;
}

.author-profile h3 > a{
  font-size: 20px;
  margin-left: 15px;
  padding-top: 5px;
  text-decoration: none;
  color: black
}

.post-image {
  padding: 0;
  display: block;
  margin: 0 auto auto 0;
  height: 60%;
  width: 100%;
  border-bottom: 0.5px solid lightgray;
}

.icons{
  height: 6vh;
}

.icons > a{
  text-decoration: none;
}

.icons > a > i{
  padding-top: 8px;
  padding-left: 10px;
  color: black;
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
  padding-left:10px;
  padding-top: 5px;
}

.color{
  color: red;
}

.likes-count{
  padding-left:10px;
  font-size: 16px;
  font-weight: bolder;
}

.comments{
  height: 5vh;
}

.comment-context{
  font-size: 16px;
}

.comment-context > span{
  padding-left: 10px;
  font-weight: bolder;
}

.update-delete{
  margin: auto;
  width: 40%;
  height: 40%;
}

@media screen and (min-width:100px) and (max-width:768px) {
  .post {
    width: 100%;
  }
  
  .update-delete{
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .center{
    width: 80%;
  }

  .center-login{
    width: 80%;
  }
  
}

@media screen and (min-width:768px) and (max-width:1025px) {
  .post {
    width: 60%;
  }

  .update-delete{
    margin: auto;
    width: 60%;
    height: 60%;
  }

}

/* profile page */

.message{
  width: 50%;
  margin-bottom: 10px;
}

.profile-view{
  width: 50%;
  margin: auto;
  border-bottom: 1px solid lightgray;
}

.account-img {
  height: 180px;
  width: 180px;
  margin-right: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.account-heading {
  font-size: 2rem;
}

.profile-content{
  display: inline-block;
  margin-left: 20px;
}

.button{
  margin: 10px 0 15px 25%;
}

.center-form{
  display: none;
  width: 50%;
  margin: auto;
}

.form-group{
  margin: 10px 0 5px 0;
  
}

@media screen and (min-width:100px) and (max-width:768px) {
  .profile-view{
    width: 80%;
  }

  .account-img {
    height: 100px;
    width: 100px;
  }

  .account-heading {
    font-size: 1.2rem;
    display: inline-block;
  }
  
  .profile-content{
    margin-left: 10px;
  }
  
  .button{
    margin: 10px 0 15px 10%;
  }
  
  .center-form {
    width: 80%;
  }

}


/* Comment */

.heart-icon{
  width: 10%;
  display: inline-block;
}

.comment-form{
  margin-top: 10px;
  height: 30vh;
  overflow: scroll;
}

/* slider */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* header */

.grid{
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.second > a{
  font-size: 26px;
}

.first{
  grid-column: 2;
  justify-self: flex-end;
}

.second{
  grid-column: 1;
  font-family: 'Oleo Script', cursive;;
}

.third{
  grid-column: 3;
  justify-self: flex-start;
}

@media screen and (min-width:100px) and (max-width:768px) {
  header{
    height: 7vh;
  }
  .grid{
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
  }

  .first{
    grid-column: 1;
    position: relative;
    top: 30px;
  }

  .second{
    grid-column: 2;
    grid-row: 2;
    position: relative;
    top: -15px;
  }

  .third{
    grid-column: 3;
    position: relative;
    top: 30px;
  }
  
}

.left, .right{
  display: inline-block;
}

.center-grid{
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.right{
  justify-self: end;
}